body {
    overflow: hidden;
}

.terminal {
    background: #000 !important;
    width: 100%;
    height: 100%;
    color: #fff;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;
    font-size: 1.2em;
    font-family: monospace;
    text-decoration: none;
    overflow: auto;
}
