.lang-panel{
    position: absolute;
    display: flex;
    right: 20px;
    top: 10px;
    color: white;
    &_item{
        margin-left: 15px;        
        cursor: pointer;
        &:hover{
            text-shadow: 3px 2px 5px black;
            font-size: 1.1em;
        }
    }
   
}