$bodyBackgroundColor:rgb(255, 255, 255);
$bodyTextColor:rgb(28, 28, 28);

$spinnerColor: white;

$adminBackgroundColor: #e7e7e7;
$sideBackgroundColor:#42474e;
$activeSideBackgroundColor: rgb(97, 106, 120);