@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import './var';

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: $bodyBackgroundColor;
    color: $bodyTextColor;
}